<layout
  title="{{title}}"
  description="{{description}}"
>
  <ui-navbar
    navItems="{{navItems}}"
    languages="{{languages}}"
    currentPage="{{currentPage}}"
  ></ui-navbar>

  <main class="">
    <ui-hero
      githubUrl="{{heroGithubUrl}}"
      linkedinUrl="{{heroLinkedinUrl}}"
      email="{{heroEmail}}"
    ></ui-hero>

    <ui-experience experiences="{{experiences}}" lang="{{lang}}"></ui-experience>

    <ui-projects-section projects="{{projects}}"></ui-projects-section>

    <ui-blogs-section blogPosts="{{blogPosts}}"></ui-blogs-section>
  </main>

  <ui-footer email="{{heroEmail}}"></ui-footer>
</layout>