<layout
  title="{{title}}"
  description="{{description}}"
>
  <ui-navbar
    navItems="{{navItems}}"
    languages="{{languages}}"
    currentPage="{{currentPage}}"
  ></ui-navbar>

  <main class="">
    <ui-hero
      githubUrl="{{heroGithubUrl}}"
      linkedinUrl="{{heroLinkedinUrl}}"
      email="{{heroEmail}}"
    ></ui-hero>

    <ui-experience experiences="{{experiences}}"></ui-experience>

    <ui-projects projects="{{projects}}"></ui-projects>

    <ui-blogs blogPosts="{{blogPosts}}"></ui-blogs>
  </main>
</layout>